<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp</title>
    <link rel="icon" href="images/weather.png" />

</head>

<body>
    <h1>Weather</h1>
    <form>
        <input type="text" name="temp" />
        <button id="getTemp">Get temperature</button>
    </form>
    <p id="result"></p>
    {{>footer}}

    <script src="js/temp.js"></script>
</body>

</html>